*{
  box-sizing: border-box;
}

.userViews {
  background-color: rgb(70, 69, 69);
  color: rgb(31, 31, 31);
}
.userViews table {
  padding: 2rem;
  width: 90%;
  text-align: left;
  background-color: rgb(230, 231, 229);
}


  #formArticle {
  
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color: #1b3358;

    }
    #loginForm {
            position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: fit-content;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5d7db;
        border-radius: 12px;
    }
    #loginForm label, #loginForm input, #loginForm button{
        width: 100%;
        margin: 5px 0;
        border: none;
      }
      #loginForm button {
        background-color: #1B3358;
        color: whitesmoke;
        border-radius: 12px;
        padding: 5px 0;
        margin: 20px 5px 0 5px;
        cursor: pointer;
    }