*{
  box-sizing: border-box;
}

.userViews {
  background-color: rgb(70, 69, 69);
  color: rgb(31, 31, 31);
}
.userViews table {
  padding: 2rem;
  width: 90%;
  text-align: left;
  background-color: rgb(230, 231, 229);
}

#formArticle {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;


}
#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: fit-content;
  margin: 0 auto;
  padding: 15px 20px ;
  background: rgb(249,231,254);
  background: linear-gradient(0deg, rgba(249,231,254,1) 0%, rgba(218,252,252,1) 100%);
  border-radius: 5px;
  box-shadow: 4px 10px 26px 0px rgba(0,0,0,0.14);
  -webkit-box-shadow: 4px 10px 26px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 4px 10px 26px 0px rgba(0,0,0,0.14);
}
#loginForm label, #loginForm input, #loginForm button{
  width: 100%;
  margin: 8px 0;
  padding: 5px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#loginForm input{
  margin-bottom: 15px;
}
#loginForm button {
  background-color: #1B3358;
  color: whitesmoke;
  padding: 10px 0;
  margin: 20px 5px 0 5px;
  cursor: pointer;
}

.error {
  border: 1px solid red;
}